<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>servlet.SigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminServlet</servlet-name>
        <servlet-class>servlet.admin.HomeAdminServlet</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>servlet.Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangPassServlet</servlet-name>
        <servlet-class>servlet.ChangPassServlet</servlet-class>
        <servlet-name>AddSaleServlet</servlet-name>
        <servlet-class>servlet.admin.AddSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSaleServlet</servlet-name>
        <servlet-class>servlet.admin.EditSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewFilmServlet</servlet-name>
        <servlet-class>servlet.admin.AddNewFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFilmServlet</servlet-name>
        <servlet-class>servlet.EditFilmServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/SigninServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangPassServlet</servlet-name>
        <url-pattern>/ChangPassServlet</url-pattern>
		
        <servlet-name>AddSaleServlet</servlet-name>
        <url-pattern>/add_sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSaleServlet</servlet-name>
        <url-pattern>/edit_sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewFilmServlet</servlet-name>
        <url-pattern>/add_film</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFilmServlet</servlet-name>
        <url-pattern>/edit_film</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
